* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: $mainBlackHeader;
  font-size: 62.5%;
}

h2,
h3 {
  color: $mainBlackHeader;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

a {
  color: rgba($mainBlack, .85);
  text-decoration: none;
}

ul {
  list-style-type: none;
}
