* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: $mainBlack;
  font-size: 62.5%;
}

h2,
h3 {
  /*color: $mainRed;*/
  color: #2C3E50;
}

h2 {
  font-size: 2.2rem;
}

h3 { /* mod padding*/
  font-size: 2rem;
}
