$dirFont: ../../assets/styles/modules;

$mainBlack: #34495E;
$mainBlackHeader: #2C3E50;
$mainRed: #D91E18;

$bdGray: #BDC3C7;

$Orange: #F9690E;
$midOrange: #db3c01;

$Green: #00B16A;

$textShadow: -.1rem 0 $Green, 0 .1rem $Green, .1rem 0 $Green, 0 -.1rem $Green;
$bgShadow: 0 .1rem 1rem .1rem #34495E;
