<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <title>Chat Room | WebChat</title>
    <link rel="stylesheet" href="temp/styles/styles.css">
</head>

<body>
    <div class="container">
        <div class="inner-site">
            <div class="inner-site__header">
                <span class="inner-site__header__uname"> Hello: TestUser </span>
                <a href="#" class="btn btn--main-logout">LogOut</a>
            </div>
            <div class="inner-site__content">
                <div class="row row--main-content row--main-content--main-chat">
                    <div class="row__col-1-in-4 row__col-1-in-4--border-right">
                        <div class="site_chat__online-list">
                            <div class="site_chat__online-list__header">
                                <i class="ion-android-contact icon__online-list"></i>
                                <h2>Online Member</h2>
                            </div>
                            <div class="site_chat__online-list__content">
                                <ul>
                                    <li>
                                        <div class="btn btn--online-list">testuserja<span class="ion-mic-a icon__mic"></span> </div>
                                    </li>
                                    <li>
                                        <div class="btn btn--online-list">testuserja<span class="ion-mic-a icon__mic"></span> </div>
                                    </li>
                                    <li>
                                        <div class="btn btn--online-list">testuserja<span class="ion-mic-a icon__mic"></span> </div>
                                    </li>
                                    <li>
                                        <div class="btn btn--online-list">testuserja<span class="ion-mic-a icon__mic"></span> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row__col-3-in-4">
                        <div class="site_chat__chat-box__headroom">
                            <span class="ion-android-bookmark icon__fav"></span>
                            <i class="ion-chatboxes icon__headroom"></i>
                            <h2>testing room</h2>
                        </div>
                        <div class="site_chat__chat-box">
                            <ol class="site_chat__chat-box__chat">

                            </ol>
                            <div class="site_chat__chat-box__input">
                                <form action="#">
                                    <input class="site_chat__chat-box__input__message" type="text" placeholder="Message" autofocus/>
                                    <button class="btn btn--send">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
