<!DOCTYPE html>

<html>

<head>
  <title>WebRTC</title>
  <link rel="stylesheet" href="//cdn.webrtc-experiment.com/style.css">
  <style>
  video {
    object-fit: fill;
    width: 30%;
  }
  button,
  input,
  select {
    font-weight: normal;
    padding: 2px 4px;
    text-decoration: none;
    display: inline-block;
    text-shadow: none;
    font-size: 16px;
    outline: none;
  }

  .make-center {
    text-align: center;
    padding: 5px 10px;
  }
  </style>
</head>

<body>
  <article>
    <section class="experiment">
      <div class="make-center">
        <input type="text" id="room-id" value="abcdef">
        <button id="open-public-room">Open Public Room</button>
        <button id="open-private-room">Open Private Room</button>
        <button id="become-public-moderator" disabled>Become Public Moderator</button>

        <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>

        <br><br>
        <h2>List of all public moderators:</h2>
        <ol id="public-rooms" style="text-align:left;"></ol>
      </div>

      <div id="videos-container"></div>
    </section>
  </article>

  <script src="/socket.io/socket.io.js"></script>
  <script src="assets/scripts/modules/RTCMultiConnection.min.js"></script>
  <script src="assets/scripts/modules/getMediaElement.js"></script>
  <script src="assets/scripts/modules/FileBufferReader.js"></script>

  <script src="temp/scripts/App.js"></script>

</body>

</html>
