<!DOCTYPE html>

<html>

<head>
    <title>WebRTC</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <video id="myVideoTag" autoplay></video>
    <video id="theirVideoTag" autoplay></video>

    <div>
        <label>Your Name</label><input type="text" id="myName">
        <label>Message</label><input type="text" id="myMessage">
        <input type="submit" id="sendMessage">
        <div id="chatArea">Message Output: <br></div>
        <div id="signalingArea">Signaling Messages: <br></div>
    </div>

    <script src="js/adapter.debug.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socket.js"></script>
    <script src="js/webrtc.js"></script>
    <script src="js/webrtc-test.js"></script>
</body>

</html>