<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

    <title>LogIn | WebChat</title>

    <link rel="stylesheet" href="temp/styles/styles.css">
</head>

<body>
    <div class="login-page">
        <div class="login-page__form">
            <form action="#">
                <div class="login-page__form--field">
                    <div class="login-page__form--header">
                        User Login
                    </div>
                </div>
                <div class="login-page__form--field login-page__form--input">
                    <label for="uname"> Username </label>
                    <input type="text" name="uname" autofocus/>
                </div>
                <div class="login-page__form--field login-page__form--input">
                    <label for="password"> Password </label>
                    <input type="password" name="pass" />
                </div>
                <div class="login-page__form--field">
                  <a class="btn btn__login-page" href="#">Login</a>
                  <a class="btn btn__login-page" href="#">Register</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
