<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

    <title>Main | WebChat</title>

    <link rel="stylesheet" href="temp/styles/styles.css">
</head>

<body>
    <div class="container">
        <div class="site-main">
            <div class="site-main__header">
                Hello: TestUser
                <a href="#" class="btn btn--main-header">LogOut</a>
                <div class="underline underline--main"></div>
            </div>
            <div class="site-main__content">
                <div class="row row--main-content">
                    <div class="row__col-2-in-3">
                        <div class="content-create">
                            <input class="room-name" type="text" maxlength="15" placeholder="Room Name" />
                            <a href="#" class="btn btn--create">Create Public Room</a>
                            <a href="#" class="btn btn--create">Create Private Room</a>
                        </div>

                        <div class="content-roomlist">
                            <h2>Room List</h2>
                            <div class="field-room">
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                                <a href="#" class="field-room__button">abcde</a>
                            </div>
                        </div>
                    </div>
                    <div class="row__col-1-in-3">
                        <div class="content-fav">
                            <h3>Favorite Room</h3>
                            <div class="underline underline--header"></div>
                        </div>
                        <div class="content-useronline">
                            <h3>Online User List</h3>
                            <div class="underline underline--header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
