<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <title>Main | WebChat</title>
  <link rel="stylesheet" href="temp/styles/styles.css">
</head>

<body>
  <div id="loading" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
  </div>

  <div id="content" class="container container--main-site" style="visibility:hidden">
    <div class="site-main">
      <div class="site-main__header">
        <span class="site-main__header__uname"> Hello: <span id="userSpan"></span></span>
        <a href="#" class="btn btn--main-logout">LogOut</a>
      </div>
      <div class="site-main__content">
        <div class="row row--main-content">
          <div class="row__col-2-in-3">
            <div class="content-create">
              <input id="roomname" class="room-input" type="text" maxlength="15" placeholder="Room Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name of Room'" />
              <!-- <input id="room-id" class="room-input" type="text" maxlength="15" placeholder="Room Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Room Name'" /> -->
              <button id="open-public-room" class="btn btn--create">Create Public Room</button>
              <button id="testing" class="btn btn--create">Create Private Room</button>
            </div>
            <div class="content-roomlist">
              <div class="content-roomlist__header">
                <i class="ion-chatboxes icon__header-room"></i>
                <h2>Room List</h2>
              </div>
              <div class="content-roomlist__field-room">
                <ul id="public-rooms">
                  <!-- <li>
                  <a href="/chat" class="btn btn--room btn--room--main">abcde</a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="row__col-1-in-3 row__col-1-in-3--border-left">
          <div class="content-fav">
            <div class="content-fav__header">
              <i class="ion-android-bookmark icon__header-right"></i>
              <h3>Favorite Room</h3>
            </div>
            <div class="content-fav__field-room">
              <ul id="favroomDiv">
                <!-- <li>
                  <a href="/chat" class="btn btn--room btn--room--fav">abcde
                    <span class="ion-android-delete icon__del"></span>
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="content-useronline">
            <div class="content-useronline__header">
              <i class="ion-android-contacts icon__header-right"></i>
              <h3>Online User List</h3>
            </div>
            <div class="content-useronline__field-user">
              <ul id="online-list">
                <!-- <li>
                <a href="#" class="btn btn--online">
                <span class="ion-ios-chatbubble icon__status"></span>myuser
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="assets/scripts/api/RTCMultiConnection.min.js"></script>
<script src="temp/scripts/Main.js"></script>
</body>

</html>
