.btn {
  color: $mainBlack;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  transition: background .2s, border .2s;

  &--site-login {
    display: block;
    padding: .75rem 1.2rem;
    font-size: 2.5rem;
    border: 2px solid #2C3E50;
    border-radius: 1rem;
    text-shadow: $textShadow;
    background: rgba($Green, .85);

    &:hover {
      background: rgba($Green, .95);
      border: 2px solid #34495E;
    }
  }

  &--main-header {
    padding: .5rem 1.5rem;
    margin: 0 0 1rem 1rem;
    font-size: 2rem;
    vertical-align: middle;
    border-radius: 0.5rem;
    background: rgba(#F22613, 0.75);
    font-weight: 400;

    &:hover { background: rgba(#F22613, 0.9); }
  }

  &--create {
    background: rgba(#2ECC71, 0.8);
    padding: .8rem 1rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    /*border: 1px solid rgba($btnColor, 0.5);*/
    font-size: 2rem;

    &:hover { background: rgba(#2ECC71, 1); }

    &:last-child { margin-left: 1rem; }
  }
}
