.btn {
  color: #fff;
  display: inline-block;
  transition: background .2s;

  &--site-login {
    width: 324px;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    border: 1px solid #0a8252;
    border-radius: .5rem;
    background: rgba(#fff, 1);
    color: $midOrange;

    &:hover {
      background: rgba(#fff, .95)
    }

    @mixin atMedium {
      width: 410px;
      font-size: 1.3rem;
      padding: .6rem 1rem;
    }
    @mixin atLarge {
      width: 456px;
      font-size: 1.6rem;
    }
  }

  &--main-logout {
    font-size: 1.2rem;
    font-weight: 400;
    vertical-align: middle;
    padding: .2rem .7rem .3rem .7rem;
    margin-left: .3rem;
    border-radius: 0.2rem;
    background: rgba($mainRed, .85);

    @mixin atMedium {
      font-size: 1.3rem;
    }

    &:hover {
      background: rgba($mainRed, 0.95);
    }
  }

  &--create {
    font-size: 1rem;
    padding: .5rem .4rem;
    margin-left: .8rem;
    border-radius: .3rem;
    background: rgba($Green, 0.85);

    @mixin atMedium {
      padding: .49rem .5rem;
      font-size: 1.18rem;
      border-radius: 0.4rem;
      margin-left: 1rem;
    }

    &:hover {
      background: rgba($Green, 1);
    }

    &:last-child {
      margin-left: .5rem;
    }
  }

  &--room {
    font-size: 1.8rem;
    color: rgba($mainBlack, .85);
    background: rgba(#c9f7c6, 0.15);
    border-radius: .3rem;
    margin-top: .6rem;
    transition: background .2s;

    @mixin atMedium {
      font-size: 2rem;
      margin-top: .8rem;
      border-radius: .4rem;
    }

    &:hover {
      background: rgba(#c9f7c6, 0.55);
    }

    &--main {
      width: 100%;
      padding: .5rem 0 .5rem .8rem;

      &:first-of-type {
        margin-top: 0;
      }
    }

    &--fav {
      width: 100%;
      position: relative;
      font-size: 1.6rem;
      padding: .5rem;

      @mixin atMedium {
        margin-top: .5rem;
        padding: .5rem;
      }
    }
  }

  &--online-user {
    position: relative;
    width: 99%;
    color: rgba($mainBlack, .85);
    font-size: 1.5rem;
    padding: .2rem 0 .2rem 1.6rem;
    margin-top: .5rem;
    border-radius: .2rem;

    &:hover {
      background: rgba($mainBlack, 0.05);
    }

    &:first-child {
      margin-top: .1rem;
    }
  }

  &--online-list {
    position: relative;
    width: 98%;
    font-size: 1.5rem;
    margin-top: .7rem;
    padding: .6rem;
    border-radius: .2rem;
    color: $mainBlack;
    background: rgba(#BDC3C7, .2);
  }

  &--send {
    width: 15%;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    background: rgba($Orange, .85);
    border-radius: .2rem;
    outline: none;
  }
}
