.content-create {
  width: 90%;
  height: 10%;
  
  min-height: 65px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 1%;
  border-bottom: .1rem solid $bdGray;

  @mixin atMedium {
    font-size: 1.3rem;
    padding-bottom: .8%;
  }

  .room-input {
    width: 40%;
    text-align: center;
    padding: .3rem 1rem;
    border: .1rem solid rgba($bdGray, 0.8);
    border-radius: .3rem;
    background: rgba(#fff, 0.7);
    transition:  border .2s, background .2s;

    @mixin atMedium {
      padding: .3rem 1rem;
      border: .13rem solid rgba($bdGray, 0.8);
    }

    &:hover,
    &:focus {
      border: .1rem solid rgba($bdGray, 1);
      background: rgba(#fff, 0.9);
      outline: none;

      @mixin atMedium {
        border: .13rem solid rgba($bdGray, 1);
      }
    }
  }
}
