.content-useronline {
  height: 68%;
  padding-top: 2%;
  margin: 0 auto;
  overflow: hidden;

  &__header {
    width: 90%;
    height: 8%;
    min-height: 39px;
    padding:0 0 1rem 1rem;
    border-bottom: 1px solid $bdGray;

    h3 {
      display: inline;
      font-size: 1.6rem;
      text-align: center;
      padding:.3rem;

      @mixin atMedium {
        padding:.5rem;
      }
    }
  }

  .uonline {
    width: 93%;
    height: 92%;
    margin-left: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;

    &__list {
      width: 95%;
      color: #6b6e6e;
      display: inline-block;
      position: relative;
      text-decoration: none;
      font-size: 1.5rem;
      padding: .1rem 0 .1rem 1.6rem;
      margin-top: .6rem;
      border-radius: .3rem;
    }
  }
}
