.content-roomlist {
  width: 100%;
  height: 90%;
  padding: 3% 1% 0 0;
  overflow: hidden;

  @mixin atMedium {
    padding-top: 2%;
  }

  &__header {
    height: 8%;
    min-height: 45px;

    h2 {
      display: inline;

      @mixin atMedium {
        font-size: 2.4rem;
      }
    }
  }

  &__field-room {
    width: 100%;
    height: 92%;
    padding: 1% 2% 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
