.content-create {
  width: 90%;
  height: 10%;
  position: relative;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 1.5%;
  border-bottom: .2rem solid #BDC3C7;

  .room-name {
    width: 35%;
    padding: .7rem 1rem;
    text-align: center;
    border: .2rem solid #BDC3C7;
    border-radius: .7rem;
    background: rgba(#fff, 0.7);

    &:focus {
      outline: none;
    }
  }
}
