.content-fav {
  height: 32%;
  min-height: 193.2px;
  overflow: hidden;


  &__header {
    width: 100%;
    height: 15%;
    padding-left: .5rem;
    border-bottom: 1px solid $bdGray;

    @mixin atMedium {
      height: 20%;
      min-height: 42.56px;
    }

    h3 {
      display: inline;
      font-size: 1.6rem;
      text-align: center;
      padding:.3rem;

      @mixin atMedium {
        font-size: 1.8rem;
      }
    }
  }

  &__field-room {
    width: 100%;
    height: 85%;
    padding-left: 1rem;

    @mixin atMedium {
      height: 80%;
    }
  }
}
