.content-create {
  width: 90%;
  display: flex;
  align-self: center;
  flex-basis: 60px;
  flex-shrink: 0;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  border-bottom: .1rem dotted $bdGray;

  @mixin atMedium {
    font-size: 1.1rem;
  }

  .room-input {
    width: 65%;
    text-align: center;
    padding: .3rem 1rem;
    border: .11rem solid rgba($bdGray, .8);
    border-radius: .3rem;
    background: rgba(#fff, 0.7);
    transition:  border .2s, background .2s;
    text-transform: uppercase;

    @mixin atMedium {
      border: .12rem solid rgba($bdGray, .8);
    }

    &:hover,
    &:focus {
      border: .11rem solid rgba($bdGray, 1);
      background: rgba(#fff, 0.9);
      outline: none;

      @mixin atMedium {
        border: .12rem solid rgba($bdGray, 1);
      }
    }
  }
}
