.container {
  height: 100vh;
  width: 100vw;
  background: rgba($Orange, .9);
  background: linear-gradient(to bottom, rgba($Orange, .9) 85%,rgba($Orange, .9) 15%);

  &--login-site {
    min-width: 1000px;
  }

  &--main-site {
    min-height: 500px;
  }

  &--chat-site {
    min-height: 500px;
  }
}
