.container {
  height: 100vh;
  width: 100vw;
  background: $midOrange;
  /*background: linear-gradient(to bottom, $Orange 13%,$Green 87%);*/
  /*background: linear-gradient(to bottom, rgba($Green, .2) 0%,$Green 100%);*/
  background: linear-gradient(to bottom, rgba(#22313F, .6) 30%,#22313F 100%);
  /*background: linear-gradient(to bottom, rgba(#34495E, .55) 20%,#34495E 100%);*/

  &--login-site {
    min-width: 1000px;
  }

  &--main-site {
    min-height: 500px;
  }

  &--chat-site {
    min-height: 500px;
  }
}
