.content-useronline {
  height: 68%;
  padding-top: 2%;

  &__header {
    width: 100%;
    height: 8%;
    padding-left: .5rem;
    border-bottom: 1px solid $bdGray;

    h3 {
      display: inline;
      font-size: 1.6rem;
      text-align: center;
      padding:.3rem;

      @mixin atMedium {
        padding:.5rem;
      }
    }
  }

  &__field-user {
    width: 100%;
    height: 92%;
    margin-top: 1px;
    padding-left: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
