.content-fav {
  height: 32%;
  min-height: 227px;
  margin: 0 auto;
  overflow: hidden;

  &__header {
    width: 90%;
    height: 15%;
    min-height: 39px;
    padding:0 0 1rem 1rem;
    border-bottom: 1px solid $bdGray;

    h3 {
      display: inline;
      font-size: 1.6rem;
      text-align: center;
      padding:.3rem;

      @mixin atMedium {
        padding:.5rem;
      }
    }
  }

  .room-fav {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 93%;
    height: 85%;
    margin-left: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }

    &__list {
      width: 95%;
      color: #6b6e6e;
      display: inline-block;
      position: relative;
      text-decoration: none;
      text-align: left;
      font-size: 1.6rem;
      padding: .5rem .5rem .5rem ;
      margin-top: .6rem;
      border-radius: .3rem;
      background: rgba(#c9f7c6, 0.15);
    }

  }
}
