.field-room {
  overflow-y: scroll;
  width: 100%;
  height: 94%;
  margin: 2% .5% 2% 0;
  padding: 0 1% 0 0;

  &__button {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    background: rgba(#c9f7c6, 0.15);
    /*background: linear-gradient(to bottom, #C8F7C5 0%,#C8F7C5 100%);*/
    opacity: 1;
    padding: 1.5rem;
    margin-top: 1.1rem;
    border-radius: .3rem;
    color: #6b6e6e;
    font-size: 3rem;
    transition: background .2s, text-shadow .2s;

    &:hover {
      background: rgba(#c9f7c6, 0.75);
      text-shadow: .2rem .2rem .05rem rgba(#ffffff, 0.8);
    }
  }
}
