.field-room {
  overflow-y: scroll;
  width: 100%;
  height: 94%;
  margin: 2% .5% 2% 0;
  padding: 0 1% 0 0;

  &__button {
width: 100%;
    display: inline-block;
    text-decoration: none;
    background: #ECF0F1;
    background: linear-gradient(to bottom, #ECF0F1 0%,#ECF0F1 100%);
    padding: 1rem;
    margin-top: 1.1rem;
    border-radius: .3rem;
    color: #3498DB;
    font-size: 3.5rem;
    transition: background .2s, text-shadow .2s;

    &:hover {
      /*opacity: 1;*/
      background: #DADFE1;
      text-shadow: .2rem .2rem .05rem rgba(#ffffff, 0.8);
    }
  }
}
