.icon {
  &__login {
    font-size: 2.4rem;
    margin: auto 1rem auto 0;

    @mixin atMedium {
      font-size: 2.5rem;
    }

    @mixin atLarge {
      font-size: 2.7rem;
    }
  }

  &__header-room {
    font-size: 2rem;
    color: rgba($mainRed, .9);
    padding-left: 1%;
    margin-right: .5rem;

    @mixin atMedium {
      font-size: 2.1rem;
      margin-right: .5rem;
    }
  }

  &__header-right {
    font-size: 1.6rem;
    color: rgba($mainRed, .9);
    padding-left: 1%;
    margin-right: .3rem;

    @mixin atMedium {
      font-size: 1.8rem;
      margin-right: .5rem;
    }
  }

  &__del {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: rgba(#2C3E50, .65);
    margin: auto 1rem;
    opacity: .85;
  }

  &__useronline {
    font-size: 1.6rem;
    color: rgba($mainRed, .9);
    padding-left: 1%;
    margin-right: .3rem;

    @mixin atMedium {
      font-size: 2.5rem;
      margin-right: .5rem;
    }
  }

  &__status {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    font-size: 1.1rem;
    color: #019875;
  }

  &__online-list {
    font-size: 2.2rem;
    margin-right: .5rem;
    color: rgba($mainRed, .9);
  }

  &__headroom {
    font-size: 2.2rem;
    margin-right: .5rem;
    color: rgba($mainRed, .9);
  }

  &__mic {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.5rem;
  }

  &__fav {
    margin-left: 14px;
    float: left;
    font-size: 2.3rem;
    text-shadow: 0 0 2px #333;
    -webkit-animation-iteration-count: infinite;
  }
}
