.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #3498db;
  background: linear-gradient(to bottom, #3498db 0%,#52B3D9 100%);

  &__form {
    width: 550px;
    background: rgba(250, 250, 250, 0.85);
    border: .1rem solid #e1e1e1;
    border-radius: .5rem;
    padding: 2rem 3rem;

    &--field {
      margin: 2.5rem auto;
      text-align: center;
    }

    &--input {
      margin: 1.8rem auto;

      label {
        display: inline-block;
        width: 25%;
        font-size: 2.5rem;
        font-weight: 400;
        margin-right: 1rem;
      }

      input {
        padding: .7rem;
        font-size: 2.5rem;
        text-align: center;
        border: .2rem solid rgba(#59abe3, 0.5);
        border-radius: .3rem;

        &[type="text"] {
          text-transform: uppercase;
        }

        &:hover,
        &:focus {
          border: .2rem solid rgba(#59abe3, 0.9);
        }
      }
    }

    &--header {
      font-size: 4.5rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }
  }
}
