.site-main {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 18px 5px 18px;
  background: rgba(#fff, .95);
  box-shadow: $bgShadow;

  @mixin atMedium {
    width: 1200px;
    padding: 12px 25px 5px 25px;
  }

  &__header {
    width: 100%;
    height: 5.5%;
    min-height: 38px;
    text-align: right;
    border-bottom: 1px solid $bdGray;

    @mixin atMedium {
      border-bottom: 1.3px solid $bdGray;
    }

    &__uname {
      vertical-align: middle;
      font-size: 1.2rem;
      font-weight: 700;

      @mixin atMedium {
        font-size: 1.3rem;
      }
    }
  }

  &__content {
    width: 100%;
    height: 92%;
    padding-top: 1%;
    overflow-y: hidden;
  }
}
